<section>
<div class="float-left bg-light p-1"><h2><%= " #{@user.name}" %></h2>
<%=send_invite%></div>
  <div class="d-flex flex-column float-right bg-light">
    <h4>Friends of <%= @user.name %></h4>
    <% @user.friends.each do |friend| %>
    <ul>
    <li><div class="d-flex flex-row p-2">
      <div class="mx-1 mt-1"><%= friend.name %>
     <p> <%unless mutual_friend(friend) == 0%>
         <%= mutual_friend(friend)%> mutual friends</p>
         <%end%>
      </div>
      
      <% if current_user == @user %>
      <div class="mx-1 p-2 border border-info"><%=unfriend(friend)%></div>
      <%end%>
    </div></li>
    </ul>
    <% end %>
  </div>
</div>
</section>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <div class="posts">
      <%= render @posts %>
    </div>
  </article>
  <br>
  <div class="float-right">
  <%if current_user == @user%>
  <h4>Pending invitation</h4>
  <br>
  <% @user.pending_invitations.each do |invitation| %>
  <div class="d-flex flex-row">
      <div class="mx-1 mt-1"><%=pending_invitation(invitation)%></div>
      <div class="mx-1 p-2 bg-info"><%=accept_invitation(invitation)%></div>
      <div class="mx-1 p-2 border border-info"><%=reject_invitation(invitation)%></div>
      </div>
  <% end %>
  <%end%></div>
